* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}
.side-bar{
    float: left;
    background-color: rgb(121, 19, 19);
    color: blanchedalmond;
    height: 800px;
    min-width: max-content;
}

.image{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

body {
    font-family: sans-serif;
    color: rgb(78, 64, 64);
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(253, 83, 16);
}

.skills{
    background-color: rgb(86, 104, 86);
    color: white;
    height: 70px;  
}

.skills ul{
    display: flex;
}

